

    body {
        width: 960px;
        margin: 0 auto;
        background-color: grey;
        
        
    }
     img {
         height: 350px;
         width: 350px;
         float: left;
         margin: 0px 50px;
        
     }
    
    header h1 {
        background-color: rgb(0, 0, 0);
        height: 50px;
        color: gold;
    }
    p {

        font-size: 20px;
    
    }

    footer h2 {

        background: #008cff;
        

    }

 




